langchain==0.2.16
langchain_community==0.2.16
langchain_core==0.2.38
langchain_experimental==0.0.65
langchain_groq==0.1.9
langchain_huggingface==0.0.3
neo4j==5.23.1
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.37.0
yfiles_jupyter_graphs==1.8.1
